@media (min-width: 768px) {
    body {
        margin: 40px
    }

    .cardList {
        align-items: center;
    }

    .cardListUnit {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 70px
    }

    .cardList {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
    }

    .cardListUnit {
        width: 45%;
    }
}